@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&family=Mulish:wght@400;600;700;800&family=Rubik:wght@400;500&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-family: "Mulish";
}

.header {
  width: 100%;
  height: 50px;
  display: flex;
  background-color: #7AC751;
  align-items: center;
}

.header__title {
  margin-left: 105px;
  font-size: 16px;
  color: white;
  font-family: Rubik;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header__option {
  margin-left: 634px;
  background-color: none;
  font-size: 17px;
  padding: 5px;
  background-color: #7AC751;
  color: white;
  border: none;
}

.header__h2 {
  color: white;
  margin-left: 7px;
  margin-right: 7px;
}

.header__link {
  text-decoration: none;
  color: white;
  font-size: 16px;
}

.navbar {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
}

.navbar__list {
  display: flex;
}

.navbar__logo {
  margin-left: 135px;
}

.navbar__input {
  width: 450px;
  height: 43px;
  margin-left: 120px;
  font-size: 17px;
  padding: 0 15px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  border: 2px solid #7AC751;
}

.navbar__select {
  height: 43px;
  width: 100px;
  border: 2px solid #7AC751;
}

.navbar__btn {
  height: 43px;
  width: 50px;
  border: 2px solid #7AC751;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #7AC751;
  color: white;
  cursor: pointer;
}

.icon {
  margin-left: 200px !important;
}

del {
  color: #CCC;
}

.navbar__icon {
  margin-left: 10px;
  cursor: pointer;
}

.hero__select {
  width: 260px;
  height: auto;
  
  margin-right: 10px;
}
.hero__select h3 {
  color: #FFF !important;
  text-decoration: none;
  padding: 10px;
  font-family: Rubik;
  background-color: #7AC751;
  color: white;
}
.hero__select ul li {
  width: 260px;
  height: 35.5px;
  list-style: none;
  background-color: rgba(247, 248, 250, 1);
  border: 1px solid #d4d0d0;
  color: #555555;
  padding-left: 10px;
  display: flex;
  align-items: center;
}
.hero__select ul li a {
  font-family: Rubik;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.28px;
  color: #555 !important;
  text-decoration: none;
}

.hero {
  display: flex;
	padding-bottom: 20px;
	position: relative;
  justify-content: center;
}

.hero__list {
  display: flex;
  width: 800px;
  padding: 10px;
  color: #555555;
  background-color: #F7F8FA;
  list-style-type: none;
  justify-content: space-around;
  margin-bottom: 10px;
}
.hero__list a {
  color: #555 !important;
  text-decoration: none;
  font-family: Rubik;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.hero__box {
  background-image: url(../img/furinitura.png);
  background-repeat: no-repeat;
  background-size: width 100px;
  background-position: left 320px top 0;
  padding-top: 60px;
  padding-left: 35px;
  box-shadow: inset 0px 0px 100px rgb(147, 207, 240);
  -webkit-backdrop-filter: blur(77.5px);
          backdrop-filter: blur(77.5px);
}
.hero__box p {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 15px;
  color: #7AC751;
}
.hero__box h2 {
  margin-bottom: 15px;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 47px;
  width: 318px;
  height: 94px;
  color: #2F2F2F;
}

.hero__main-btn {
  padding: 10px 18px;
  border-radius: 8px;
  border: none;
  background-color: #7AC751;
  color: white;
  margin-top: 40px;
  margin-bottom: 48px;
}

.main__card {
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px;
  margin-bottom: 40px;
}
.main__card li {
  list-style-type: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

.slider {
  display: flex;
  flex-direction: column-reverse;
  margin-left: 650px;
  margin-top: -290px;
}
.slider img {
  margin-bottom: 15px;
  width: 80px;
  height: 80px;
  display: inline;
}

.main {
  position: relative;
  display: inline-block;
  margin-left: 104px;
}

.offer-block-container{
	display: flex;
	flex-wrap: wrap;
	gap: 1px;
	justify-content: center;
}
.offer-block-main{
	position: relative;
	flex: 0 1 699px;
}
.offer-block-sub{
	display: flex;
	flex-direction: column;
	gap: 17px;
}
.offer-block-sub-body{
	position: relative;
	padding: 52px 144px 96px 24px;
}
.offer-sub-body{
	z-index: 2;
	position: relative;
}
.offer-main-body{
	z-index: 2;
	position: relative;
	padding-top: 50px;
	padding-left: 31px;
	padding-bottom: 361px;
}
.offer-main-title{
	font-family: 'Mulish';
  font-weight: 700;
  font-size: 22px;
  line-height: 118%;
  color: #555555;
}
.offer-main-decs{
	font-family: 'Mulish';
    font-weight: 600;
    font-size: 20px;
    line-height: 130%;
    color: #7AC751;
    padding-top: 10px;
    padding-bottom: 13px;
}
.offer-main-link{
	font-family: 'Mulish';
    font-weight: 400;
    font-size: 16px;
    line-height: 162%;
    color: #757575;
    padding-right: 17px;
    position: relative;
}
.offer-main-link:after{
	content: url('img/arrow-grey-right.svg');
	position: absolute;
	top: -2px;
	right: 0;
}
.offer-main-link:hover{
	text-decoration: underline;
}
.offer-main-img{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.trending {
  display: block;
  text-align: center;
  margin-top: 80px;
}

.tranding__list {
  display: flex;
  justify-content: space-evenly;
  padding-left: 200px;
  padding-right: 200px;
  margin-top: 25px;
  margin-bottom: 30px;
}
.tranding__list .active {
  color: #7AC751;
}
.tranding__list li {
  list-style-type: none;
  cursor: pointer;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 20px;
  color: #C2C2C2;
}

.card {
  margin-top: 58px;
	margin-left: auto;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
}
.card li {
  display: inline;
  width: 250px;
  margin: 0;
}
.card li img {
  margin-bottom: 10px;
  width: 250px;
}
.card li b {
  font-family: Rubik;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 18.2px */
  letter-spacing: 0.112px;
  text-transform: uppercase;
  color: rgba(117, 117, 117, 0.71);;
}
.card li p {
  font-family: Rubik;
  text-align: left;
  margin-bottom: 10px;
}
.card li .sena {
  margin-right: 0;
}

.card sena {
  color: #7AC751;
}

.header-logo-link {
  display: flex;
  align-items: center;
  gap: 5px;
}

.header-logo-name{
	color: #555;
  font-family: Rubik;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.footer {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
  padding: 30px;
  padding-bottom: 75px;
}
.footer .footer__text {
  width: 318px;
}

.footer-body-media{
	padding-top: 18px;
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
	align-items: center;
}
.footer-media-item{
	width: 32.2px;
    height: 32.2px;
	border-radius: 50%;
	background: white;
	text-align: center;
}

.footer li {
  list-style-type: none;
  cursor: pointer;
  line-height: 35px;
}

.rating {
  color: rgba(122, 199, 81, 1);
  width: 66.945px;
  height: 9.582px;
  flex-shrink: 0;
  margin-left: 98px;
}

/* ----------------special offer------------------------- */
.newoffer-block-header{
  font-family: Mulish;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  text-align: center;
  margin-top: 90px;
}
.newoffer-block-body{
	padding-top: 60px;
	display: flex;
	flex-wrap: wrap;
	padding-top: 56px;
	justify-content: center;
	gap: 20px;
}
.newoffer-body-item{
	position: relative;
	flex: 0 1 570px;
	padding: 28px 24px;
}
.newoffer-container{
	position: relative;
	z-index: 2;
	max-width: 227px;
}
.newoffer-item-title{
	font-family: 'Mulish';
	font-weight: 600;
	font-size: 22px;
	line-height: 127%;
	color: #555555;
}
.newoffer-item-desc{
	font-family: 'Mulish';
	font-size: 12px;
	line-height: 150%;
	color: #757575;
	padding-top: 11px;
}
.newoffer-item-actions{
	padding-top: 23px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 13px;
}
.newoffer-action-price{
	font-family: 'Mulish';
	font-weight: 700;
	font-size: 18px;
	line-height: 120%;
	letter-spacing: 0.005em;
	color: #7AC751;
}
.newoffer-action-price-former{
	font-family: 'Mulish';
	font-weight: 600;
	font-size: 18px;
	line-height: 120%;
	letter-spacing: 0.005em;
	text-decoration-line: line-through;
	color: #CCCCCC;
}
.newoffer-action-button{
	font-family: 'Mulish';
	font-weight: 700;
	font-size: 12px;
	line-height: 125%;
  border: 0px;
	color: #FFFFFF;
	padding: 7px 10px;
	background: #7AC751;
  border-radius: 2px;
  transition: all 0.2s ease 0s;
}
.newoffer-action-button:hover{
	background: #67A845;
	transition: all 0.2s ease 0s;
}
.newoffer-item-lables{
	padding-top: 29px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 18px;
}
.newoffer-item-lable{
	padding-top: 7px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: #7AC751;
	font-weight: 500;
	font-size: 14px;
	line-height: 120%;
	color: #FFFFFF;
	text-align: center;
}
.newoffer-item-lable p{
	font-size: 6px;
	line-height: 120%;
	text-align: center;
	letter-spacing: 0.005em;
	text-transform: uppercase;
	color: #FFFFFF;
}
.newoffer-block-sticker{
	position: absolute;
	top: 0;
	right: 0;
	padding: 5px 8px;
	font-family: 'Mulish';
	font-weight: 600;
	font-size: 12px;
	line-height: 130%;
	letter-spacing: 0.008em;
	color: #FFFFFF;
	background: #00B7F1;
    border-radius: 0px 0px 0px 5px;
    z-index: 3;
}
.newoffer-block-bg{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.trending2 {
  display: block;
  text-align: center;
  margin-top: 100px;
  color: var(--Primary, #555);
  font-family: Mulish;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* -----------------slider------------------ */

.slide-container {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  overflow: auto;
}

.slide {
  width: 840px;
  height: 312px;
  background-color: #F8FAFB;
  padding: 50px;
  height: auto;
  text-align: center;
  border-radius: 8px;
}

.slide p {
  text-align: center;
font-family: DM Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 24px */
letter-spacing: 0.08px;
}

.slide h4 {
  padding-top: 20px;
  color: var(--Primary, #555);
  text-align: center;
  font-family: Mulish;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 28.8px */
  letter-spacing: 0.12px;
}

.slide h5 {
  padding-top: 10px;
  color: var(--light-text-color-body-1, #515151);
  text-align: center;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 20px */
  letter-spacing: 0.08px;
}

.trending3 {
  display: block;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
  color: var(--Primary, #555);
  font-family: Mulish;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.userimg {
  left: 0;
  right: 0;
  position: absolute;
  margin-top: -100px;
}


/* ------------------Koziavka------------------------- */
.articles-block-container{
	padding-bottom: 65px;
}
.articles-block-header{
	text-align: center;
}
.articles-block-body{
	display: flex;
	flex-wrap: wrap;
	padding-top: 56px;
	justify-content: center;
	gap: 25px;
}
.article-body{
	position: relative;
	flex: 0 1 557px;
}
.article-body-container{
	position: relative;
	z-index: 5;
	color: white;
	padding: 250px 46px 30px 46px;
}
.article-container-header{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 10px;
}
.article-header-tag{
	background: #F8FAFB;
  border-radius: 3px;
  padding: 5px 5px 5px 24px;
  color: #7AC751;
  font-family: 'DM Sans';
	font-weight: 500;
	font-size: 12px;
	line-height: 130%;
	letter-spacing: 0.008em;
	text-transform: uppercase;
	position: relative;
}
.article-header-tag:before{
	content: url('../img/ic24-tag\ 1.png');
	position: absolute;
	top: 4px;
	left: 5px;
}
.article-header-date{
	font-family: 'Mulish';
	font-size: 14px;
	line-height: 130%;
	letter-spacing: 0.008em;
}
.article-container-title{
	padding-top: 20px;
	padding-bottom: 20px;
	max-width: 427px;
	font-family: 'Mulish';
	font-weight: 700;
	font-size: 39px;
	line-height: 120%;
	letter-spacing: 0.005em;
}
.article-container-link{
	font-family: 'DM Sans';
	font-weight: 500;
	font-size: 14px;
	line-height: 130%;
	letter-spacing: 0.008em;
	color: #FFFFFF;
}
.article-body-bg{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0
}
.article-bg-img{
    border-radius: 8px;
}

.trending4 {
  display: block;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 30px;
  color: var(--Primary, #555);
  font-family: Mulish;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* ---------------------footer koziavka------------------------------------ */
footer .bottom-details{
  padding-top: 10px;
  border-top: #969696 solid 0.5px;
  width: 100%;
  background: #fff;
}
footer .bottom-details .bottom_text{
  max-width: 1250px;
  margin: auto;
  padding: 30px 18px;
  display: flex;
  justify-content: space-between;
}

.bottom-details .bottom_text span,
.bottom-details .bottom_text a{
  color: #555;
  font-family: Rubik;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px; /* 100% */
  text-decoration: none;
}
.bottom-details .bottom_text a:hover{
  opacity: 1;
  text-decoration: underline;
}
.bottom-details .bottom_text a{
  margin-right: 10px;
}

.policy_terms {
	font-size: 14px;
  line-height: 100%;
  color: #555555;
  word-spacing: 51px;
}

/* ---------------page next----------------------------- */
.pagination {
  padding-left: 36%;
  text-align: center;
  margin: 45px;
  color: #757575;
  font-family: Mulish;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 23.4px */
  letter-spacing: 0.144px;
}

button {
  padding: 12px;
  font-size: 14px;
  cursor: pointer;
}

.prev-button {
  background-color: #7AC751;
  padding: 4px;
  color: white;
  border: none;
  font-size: 20px;
  width: 60px;
  border-radius: 4px;
}

.next-button {
  background-color: #7AC751;
  color: white;
  border: none;
  border-radius: 4px;
  margin-right: 220px;
}

.prev-button:hover, .next-button:hover {
  background-color: #7AC751;
}

.page-info {
  margin: 0 20px;
  font-size: 14px;
  font-weight: bold;
}

/* ------------------knopki koziavki--------------------------- */
.trending-block-pagination{
	text-align: center;
	padding-top: 58px;
}
.pagination-button{
  border: 1px;
	width: 7px;
  height: 7px;
  background: #CCCCCC;
  border-radius: 50%;
  position: relative;
  margin-right: 14px;
}
.pagination-button:after{
	content: '';
	position: absolute;
	width: 12px;
  height: 12px;
  border: 3px solid #ffffff;
  border-radius: 50%;
  top: 3px;
  left: 4px;
}
.pagination-button-active{
	background: #7AC751;
}
.pagination-button-active:after{
	content: '';
	position: absolute;
	width: 12px;
  height: 12px;
  border: 3px solid #ffffff;
  border-radius: 50%;
  top: 3px;
  left: 4px;
}

.usereimg2 {
  display: flex;
  width: 76px;
  height: 76px;
  transform: rotate(180deg);
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.usereimg1 {
  display: flex;
  width: 76px;
  height: 76px;
  transform: rotate(0deg);
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
